<div id="<%= dom_id subject %>">
  <%= link_to subject do %>
    <strong><%= subject.name %></strong>
  <% end %>

  <p>
    <strong>Num of questions:</strong>
    <%= subject.num_of_questions %>
  </p>

</div>
