<h1>Editing subject</h1>

<%= render "form", admin_subject: @admin_subject %>

<br>

<div>
  <%= link_to "Show this subject", @admin_subject %> |
  <%= link_to "Back to subjects", admin_subjects_path %>
</div>
