<p style="color: green"><%= notice %></p>

<h1>Subjects</h1>

<div id="admin_subjects">
  <% @admin_subjects.each do |admin_subject| %>
    <div class='card my-2'>
      <%= render admin_subject %>
      <p>
        <%= link_to "Show this subject", admin_subject %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New subject", new_admin_subject_path %>
