<div class='text-center mb-5'>
  <h1>Editing Exam:</h1>
</div>

<%= render "form", admin_exam: @admin_exam %>

<div class='text-center'>
  <%= link_to "Show this exam", @admin_exam %> |
  <%= link_to "Back to exams", admin_exams_path %>
</div>
