<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-between">
  <div class="h2">Questions</div>
  <div>
    <%= link_to "New", new_admin_question_path, class: 'btn btn-primary mt-2' %>
  </div>  
</div>
<div id="admin_questions">
  <div class='row'>
    <% @admin_questions.each do |admin_question| %>
      <%= render admin_question %>
    <% end %>
  </div>
</div>

