<p style="color: green"><%= notice %></p>

<h1>Questions</h1>

<div id="admin_questions">
  <% @admin_questions.each do |admin_question| %>
    <div class='card'>
      <%= render admin_question %>
      <p>
        <%= link_to "Show this question", admin_question %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New question", new_admin_question_path %>
