<p style="color: green"><%= notice %></p>

<h1>Questions</h1>

<div id="admin_questions">
  <div class='row'>
    <% @admin_questions.each do |admin_question| %>
      <%= render admin_question %>
    <% end %>
  </div>
</div>

<%= link_to "New question", new_admin_question_path, class: 'btn btn-primary mt-2' %>
