<p style="color: green"><%= notice %></p>
<div class='row'>
  <div class="h2 col-10">Questions</div>
  <div class='col-2'>
    <%= link_to "New", new_admin_question_path, class: 'btn btn-primary' %>
  </div>  
</div>
<div id="admin_questions">
  <div class='row'>
    <% @admin_questions.each do |admin_question| %>
      <%= render admin_question %>
    <% end %>
  </div>
</div>

